<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Potwierdzenie usunięcia</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<p th:inline="text">
			<h3>Książka o tytule "[[${deleteBook}]]" została usunięta.</h3>
		</p>

		<form>
			<button type="submit" class="btn btn-danger btn-sm" th:formaction="@{/books}" formmethod="get">
				<span class="glyphicon glyphicon-hand-left"></span> Powrót
			</button>
		</form>
	</div>
</body>
</html>