<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Edycja książki</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
	<section>
		<div class="jumbotron">
			<div class="container">
				<h3>Edycja danych książki</h3>
			</div>
		</div>
	</section>
	<div class="container">
		<form class="form-horizontal" role="form">
			<div class="form-group hidden">
				<label class="control-label col-sm-2" for="id">Id: </label>
				<div class="col-sm-10">
					<input th:field="${updateBook.id}" type="text" id="id"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Tytuł: </label>
				<div class="col-sm-10">
					<input th:field="${updateBook.title}" type="text" id="title"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Autorzy: </label>
				<div class="col-sm-10">
					<input th:field="${updateBook.authors}" type="text" id="authors"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info btn-md" formmethod="post" th:formaction="@{/update}">
						<span class="glyphicon glyphicon-edit"></span> Aktualizuj
					</button>
				</div>
			</div>
		</form>
		<form>
			<button type="submit" class="btn btn-danger btn-sm" th:formaction="@{/books}" formmethod="get">
				<span class="glyphicon glyphicon-hand-left"></span> Powrót
			</button>
		</form>
	</div>
</body>
</html>